/* .nav-wrapper ol{
    list-style-type: none;
} */

/* .link-list {
    display:table;
} */

 /* ol > li {
    display: inline-block;
    justify-content: center;
} */

/*
.brand-logo {
    vertical-align: middle;
} */
/* .link-list a::after{
    display:block;
    padding: 0 3px;
} */