.device-table {
    margin: 25px;
    min-width: 600px;
    background-color: lightgray;
}

.device-table thead tr {
    background-color: grey;
    text-align: center;
}
.device-table th, .device-table td {
    padding: 12px;
}
.device-table tbody tr{
    border-bottom: 1px solid #000000;
}

.account-table {
    margin: 25px;
    min-width: 600px;
    background-color: lightgray;
    text-align: left;
}

.account-table th, .account-table td{
    padding: 10px;
}
.account-table th {
    background-color: grey;
}